{% extends "layout.html" %}
{% block content %}

<div>
    <div class="relative pb-32 bg-gray-900 overflow-hidden">

        <header class="relative py-10">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold text-white">
                    Impressum
                </h1>
            </div>
        </header>
    </div>

    <main class="relative -mt-32 max-w-7xl mx-auto">
        <div class="mx-auto pb-6 px-4 sm:px-6 lg:pb-16 lg:px-8">
            <div class="bg-white rounded-lg shadow overflow-hidden">
                <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
                    <div class="divide-y divide-gray-200 lg:col-span-12">
                        <div class="py-6 px-4 sm:p-6 lg:pb-8">
                            © David Bielenberg & Florian Blum
                        </div>
                    </div>
                </div>
            </div>
    </main>
</div>

{% endblock %}