<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    

    <link
    rel="stylesheet"
    href="./styles.css
    />

</head>

<body>
    <!-- start nav-->
    <div>
        <nav>
            <div>
                <h1>
                    <a href="/">Home</a>
                </h1>
            </div>
            <ul>
                <li>
                    <a href="/bookmark/add"">
                    <span>Neues Bookmark</span>
                </a>
            </li>
            <li>
                <a href="/"> <span>Link</span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <span>Linkeee</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- end nav-->

    <body>
        <main>
            {% block content %}
            {% endblock %}
        </main>


    </body>

</html>