<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/extra.css" />
</head>

<body class="bg-gray-100 {{ body_class }}">

    <nav class="bg-gray-800">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    <!-- Mobile menu button-->
                    <button id="burger"
                        class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                        aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <!-- Icon when menu is open. -->
                        <svg id="menu-icon-closed" class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>

                        <!-- Menu open: "block", Menu closed: "hidden"-->
                        <svg id="menu-icon-open" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                    <a href="/" class="flex-shrink-0 flex items-center">
                        <img class="block lg:hidden h-8 w-auto" src="/images/logo-small.svg" alt="gudMovies">
                        <img class="hidden lg:block h-8 w-auto" src="/images/logo.svg" alt="gudMovies">
                    </a>
                    <div class="hidden sm:block sm:ml-6">
                        <div class="flex space-x-4 site-nav">
                            <a href="/" class="nav-index text-white px-3 py-2 rounded-md text-sm font-medium">
                                Top Filme</a>
                            {% if authenticated %}
                            <a href="/favorites"
                                class="nav-favorites text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                                Deine Favoriten
                            </a>
                            <a href="/account"
                                class="nav-account text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                                Dein Account
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    <!-- Add element button -->
                    {%if authenticated %}
                    <a href="/movie/add">
                        <button type="button"
                            class="inline-flex items-center px-4 py-3 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Film hinzufügen
                        </button>
                    </a>
                    {% else %}
                    <a href="/movie/login">
                        <button type="button"
                            class="inline-flex items-center px-4 py-3 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-gray-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Anmelden
                        </button>
                    </a>
                    {% endif %}
                    <div class="ml-3 relative">
                        {% if authenticated %}
                        <button
                            class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                            id="user-menu-button" aria-haspopup="true">
                            <span class="sr-only">User Menü öffnen</span>
                            <img class="h-10 w-10 rounded-full" src="/images/leonardo-avatar.png" alt="Dein Profilbild">
                        </button>
                        {% endif %}
                        <div id="user-menu"
                            class="transition ease-out duration-200 hidden transform opacity-0 scale-95 origin-top-right absolute right-0 mt-4 w-48 rounded-md shadow-lg z-10 py-1 bg-white ring-1 ring-black ring-opacity-5"
                            role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                            <a href="/account" class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-100"
                                role="menuitem">Dein Account</a>
                            <a href="/favorites" class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-100"
                                role="menuitem">Deine Favoriten</a>
                            {% if authenticated %}
                            <a href="/movie/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                role="menuitem">Abmelden</a>
                            {% else %}
                            <a href="/movie/login" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                role="menuitem">Anmelden</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile menu -->
        <div class="sm:hidden py-8" id="menu">
            <div class="px-2 pt-2 pb-3 space-y-1 text-center">
                <a href="/" class="nav-index text-gray-300 block px-6 py-4 rounded-md text-3xl font-medium">Top
                    Filme</a>
                <a href="/favorites"
                    class="nav-favorites text-gray-300 hover:bg-gray-700 hover:text-white block px-6 py-4 rounded-md text-3xl font-medium">Deine
                    Favoriten</a>
                <a href="/account" class="nav-account text-gray-300 block px-6 py-4 rounded-md text-3xl font-medium">
                    Dein Account</a>
            </div>
        </div>
    </nav>

    <body>
        <script>
            const burger = document.querySelector('#burger');
            const menu = document.querySelector('#menu');

            const menuIconBurger = document.querySelector('#menu-icon-closed');
            const menuIconX = document.querySelector('#menu-icon-open');

            const userMenuButton = document.querySelector('#user-menu-button');
            const userMenu = document.querySelector('#user-menu');

            // Site has loaded
            window.addEventListener("load", function(event) {
                // hide mobile menu (for users with JS)
                burger.click();
            });

            // Toggle Main Menu
            burger.addEventListener('click', () => {
                if (menu.classList.contains('hidden')) {
                    menu.classList.remove('hidden');
                } else {
                    menu.classList.add('hidden');
                }

                if (menuIconBurger.classList.contains('hidden')) {
                    // Show Burger, Hide X
                    menuIconBurger.classList.replace('hidden', 'block');
                    menuIconX.classList.replace('block', 'hidden');
                } else if (menuIconX.classList.contains('hidden')) {
                    // Show X, Hide Burger
                    menuIconX.classList.replace('hidden', 'block');
                    menuIconBurger.classList.replace('block', 'hidden');
                } else {
                    console.error("Something went wrong with the menu icon");
                }
            })

            // Toggle User Dropdown
            userMenuButton.addEventListener('click', () => {
                //userMenu.toggle();
                if (userMenu.classList.contains('opacity-0')) {
                    userMenu.classList.remove('opacity-0', 'scale-95', 'hidden');
                } else {
                    userMenu.classList.add('opacity-0', 'scale-95', 'hidden');
                }
            })
        </script>
        <main>
            {% if flash %}
            <div class="messages--status">
                <p>{{ flash }}</p>
            </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <!-- This example requires Tailwind CSS v2.0+ -->
            <footer class="bg-black">
                <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
                    <div class="flex justify-center space-x-6 md:order-2">
                        <a class="text-gray-400" href="/impressum">Impressum / Dokumentation</a>
                        <a href="https://github.com/davidexo/Film-Rating-WebApp.html" target="_blank"
                            class="text-gray-400 hover:text-gray-500">
                            <span class="sr-only">GitHub</span>
                            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                                    clip-rule="evenodd" />
                            </svg>
                        </a>
                    </div>
                    <div class="mt-8 md:mt-0 md:order-1">
                        <p class="text-center text-base text-gray-400">
                            &copy; David Bielenberg & Florian Blum
                        </p>
                    </div>
                </div>
            </footer>
        </footer>
    </body>

</html>